-# - flash.each do |key, value|
-#   = content_tag(:div,value,:class => "#{flash_alert_class(key)}")
= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal sign-in-padding" }) do |f|
  .col-sm-4.col-sm-offset-4
    .well
      .form-group
        = f.label :user_id, :class => 'col-sm-3 control-label'
        .col-sm-8
          = f.text_field :user_id, :class => 'form-control', :autofocus => true
      .form-group
        = f.label :password, :class => 'col-sm-3 control-label'
        .col-sm-8
          = f.password_field :password, :class => 'form-control'
      .form-group
        .col-sm-offset-2.col-sm-10
          = f.submit "Admin", :class => "btn btn-primary"
          = f.submit "Faculty", :class => "btn btn-primary"
          = f.submit "Student", :class => "btn btn-primary"
        .col-sm-offset-5
          = link_to "Forgot your password?", new_password_path(resource_name)
