.page-header
  %h3
    = @course.name
    .pull-right
      = link_to "Edit", edit_course_path(@course), :class => "btn btn-success"
      = link_to "Delete", course_path(@course), :class => "btn btn-danger", :data => {:confirm => "Are You Sure?", :method => :delete}

.col-md-5
  %table.table.table-bordered
    %tbody
      %tr.info
        %th Subject 1
        %td= @course.subject_1.present? ? @course.subject_1 : "--"
      %tr.info
        %th Subject 2
        %td= @course.subject_2.present? ? @course.subject_2 : "--"
      %tr.info
        %th Subject 3
        %td= @course.subject_3.present? ? @course.subject_3 : "--"
      %tr.info
        %th Subject 4
        %td= @course.subject_4.present? ? @course.subject_4 : "--"
      %tr.info
        %th Subject 5
        %td= @course.subject_5.present? ? @course.subject_5 : "--"
      
.col-md-5.pull-right
  %table.table.table-bordered
    %tbody
      %tr.info
        %th Subject 6
        %td= @course.subject_6.present? ? @course.subject_6 : "--"
      %tr.info
        %th Subject 7
        %td= @course.subject_7.present? ? @course.subject_7 : "--"
      %tr.info
        %th Subject 8
        %td= @course.subject_8.present? ? @course.subject_8 : "--"
      %tr.info
        %th Subject 9
        %td= @course.subject_9.present? ? @course.subject_9 : "--"
      %tr.info
        %th Subject 10
        %td= @course.subject_10.present? ? @course.subject_10 : "--"
