.page-header
  %h2
    = link_to "Upload Students", "#"
%p
  A Csv or Exel can be uploaded. First row should have the column names
= form_for @student_uploader, :url => upload_students_path, :multipart => true, :html => { :class => "form"} do |f|
  = render "shared/error_messages", :object => f.object
  .panel.panel-info
    .panel-body
      .form-group
        .col-sm-2
          = f.label "Course", :class => 'control-label'
        .col-sm-3
          = f.select :dept_name, Course.grouped_courses.map{|c| c.name},{}, :class => 'form-control'
        .col-sm-3
          = f.file_field :file
        .col-sm-2.pull-right
          = link_to "Download Template", new_upload_students_path(:format => :xls)
      .form-group
        .col-sm-2
          = f.submit "Upload", :class => "btn btn-primary pull-right"
