= form_for @hall_of_fame, :html => { :class => "form-horizontal", :role => "form" } do |f|
  = render "shared/error_messages", :object => f.object
  .col-sm-8
    .form-group
      = f.label "Name", :class => 'col-sm-3 control-label'
      .col-sm-5
        = f.text_field :name, :class => 'form-control'
    .form-group
      = f.label "Department", :class => 'col-sm-3 control-label'
      .col-sm-5
        = f.text_field :department, :class => 'form-control'
    .form-group
      = f.label "Year Of Passing", :class => 'col-sm-3 control-label'
      .col-sm-5
        = f.text_field :year_of_passing, :class => 'form-control'
    .form-group
      = f.label "Avatar", :class => 'col-sm-3 control-label'
      .col-sm-5
        = f.file_field :avatar
  .col-sm-8.pull-right
    = f.submit "Save", :class => 'btn btn-primary'

