= form_for @faculty, :html => { :class => "form-horizontal", :role => "form" } do |f|
  = render "shared/error_messages", :object => f.object
  .col-sm-8
    .form-group
      = f.label "Name", :class => 'col-sm-2 control-label'
      .col-sm-8
        = f.text_field :name, :class => 'form-control'
    - unless @faculty.id.present?
      = f.fields_for :user do |f|
        = render "shared/sign_up", :f => f
    .form-group
      = f.label "Department", :class => 'col-sm-2 control-label'
      .col-sm-8
        = f.select :department_names, options_for_select(Course.grouped_courses.map{|c| c.name}, @faculty.selected_courses),{}, :multiple => true, :class => 'form-control'
    .form-group
      = f.label "Designation", :class => 'col-sm-2 control-label'
      .col-sm-8
        = f.text_field :designation, :class => 'form-control'


  .col-sm-8.pull-right
    - unless @faculty.id.present?
      = f.submit "Create", :class => 'btn btn-primary'
    - else
      = f.submit "Update", :class => 'btn btn-primary'
