%h1 Notifications
%table
  %tr
    %th Event
   
    %th Description
  - for notification in @notifications
    %tr
      %td= h notification.event
      %td= h notification.description
     
      %td= link_to 'Show', notifications_show_path
      %td= link_to 'Edit', notifications_edit_path(notification)
      %td= link_to 'Destroy', notification, :confirm => 'Are you sure?', :method=> :delete
%br/
= link_to 'New', notifications_new_path
