%table.table.table.striped
  %thead
    %tr
      %th Event
      %th Description
      %th Created at
      - if can? :create, Notification
        %th
        %th
  %tbody
    - @notifications.each do |notification|
      %tr
        %td= notification.event
        %td= notification.description
        %td= notification.created_at
        - if can? :create, Notification
          %td= link_to raw("<span class='glyphicon glyphicon-edit'></span>"), edit_notification_path(notification), :class => "btn btn-warning btn-sm", :title => "Edit"
          %td= link_to raw("<span class='glyphicon glyphicon-trash'></span>"), notification, :class => "btn btn-danger btn-sm", :data=> {:confirm => "Are you sure?", method: :delete}, :title => "Delete"
%center
  - if can? :create, Notification
    = link_to 'Add', new_notification_path, :class => 'btn btn-primary'
  = link_to 'Cancel', root_path, :class => 'btn btn-primary'

