.panel.panel-default
  .panel-heading
    %h4
      Change your password
  .panel-body
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put , :class => "form-horizontal"}) do |f|
      = render "shared/error_messages", :object => f.object
      = f.hidden_field :reset_password_token
      .col-sm-12
        .form-group
          = f.label :password, "New password", :class => 'col-sm-5 control-label'
          .col-sm-6
            = f.password_field :password, :autofocus => true, :class => 'form-control'
      .col-sm-12
        .form-group
          = f.label :password_confirmation, "Confirm new password", :class => 'col-sm-5 control-label'
          .col-sm-6
            = f.password_field :password_confirmation, :class => 'form-control'
      .col-sm-offset-3
        = f.submit "Change my password", :class => "btn btn-primary"
