= form_tag session_path(:user), :class => "form-inline" do
  .form-group
    .col-md-4
      = text_field_tag 'user[user_id]', nil, :class => "form-control input-sm", :placeholder => "User Id"
    .col-md-4
      = password_field_tag 'user[password]', nil, :class => " col-sm-2 form-control input-sm", :placeholder => "password"
    = submit_tag "Sign in", :class => "btn btn-primary btn-sm"
    %br
    = link_to "Forgot password?", new_password_path(:user), :class => "custom-sm-link"
