= form_for Feedback.new do |f|
  #form-right.part    
    %fieldset
      %center
        %h3.title-suggestion
          Suggestion Box
      = f.label "Name", :class => 'col-sm-2 control-label'
      .col-sm-2                 
      = f.text_field "name", :placeholder => "Name"
      %br/
      = f.label "Email", :class => 'col-sm-2 control-label'
      .col-sm-2                
      = f.text_field "email", :placeholder => "email"
      %br/
      = f.label "Suggestion", :class => 'col-sm-2 control-label'
      .col-sm-2                
      = f.text_area "description", :placeholder => "suggestion"
      %br/
      %br/
      .col-sm-5
      = f.submit "Save", :class => 'btn btn-primary'
 
