.navbar.footer 
  .container
    .pull-right.text-muted
      = raw("<i class = 'glyphicon glyphicon-copyright-mark'></i>#{link_to 'OstryaLabs.', 'http://www.ostryalabs.com', :class =>"text-muted"} All Rights Reserved")
      = link_to image_tag("img8.jpeg", :height => "24px"), "#"
      = link_to image_tag("img9.jpeg", :height => "24px"), "#"
      = link_to image_tag("img10.jpeg", :height => "24px"), "#"
