= form_for @examschedule do |f|
  = f.hidden_field :event
  = f.hidden_field :courses
  = f.hidden_field :subjects
  = f.hidden_field :academic_year
  = f.hidden_field :date        
  = f.hidden_field :timings y
    	= render "form_for"
%br/
