.container
  .row
    %a.btn.btn-primary.btn-lg{"data-original-title" => "", "data-target" => "#event", "data-toggle" => "modal"} Edit
    #event.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "eventLabel", role: "dialog", tabindex: "-1"}
      .modal-dialog
        .panel.panel-primary
          .panel-heading
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
            %h4#eventLabel.panel-title
              %span.glyphicon.glyphicon-info-sign
              Notifications
              = form_for Notification.new, :html => { :class => "form-horizontal", :role => "form" } do |f|
              
                .row 
                  .col-lg-6.col-md-6.col-sm-6
                    = f.label "Event", :class => 'col-sm-2 control-label'
                 
                    = f.text_field :event, :placeholder => "Event", :class => 'form-control'
                  .col-lg-6.col-md-6.col-sm-6
                
                    = f.label "Description", :class => 'col-sm-2 control-label'
                
                    = f.text_area :description, :class => 'form-control'
                  .col-sm-10.pull-right
                    = f.submit "Save", :class => 'btn btn-primary'
                          
                    
