!!!
%html
  %body
    .container.container4
      .row
        
        
        
        %form.form-horizontal{role: "form"}
          #form-right.part
           
            #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
              / Wrapper for slides
              .carousel-inner
                .item.active
                  .holder.col-sm-8
                    = image_tag("1.JPG", size: "500x200")
                .item
                  .holder.col-sm-8
                    = image_tag("2.JPG", size: "500x200")
                .item
                  .holder.col-sm-8
                    = image_tag("3.JPG", size: "500x200")
                .item
                  .holder.col-sm-8
                    = image_tag("4.JPG", size: "500x200")
                .item
                  .holder.col-sm-8
                    = image_tag("5.JPG", size: "500x200")
              .controllers.col-sm-8.col-xs-12
                / Controls
                %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-example-generic"}
                  %span.glyphicon.glyphicon-chevron-left
                %a.right.carousel-control{"data-slide" => "next", href: "#carousel-example-generic"}
                  %span.glyphicon.glyphicon-chevron-right
                / Indicators
                %ol.carousel-indicators
                  %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
                  %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
                  %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
                  %li{"data-slide-to" => "3", "data-target" => "#carousel-example-generic"}
                  %li{"data-slide-to" => "4", "data-target" => "#carousel-example-generic"}
    .container.container6
  %marquee{bgcolor: "#E0E0E0", direction: "up", loop: "true", onmouseout: "this.scrollAmount=2", onmouseover: "this.scrollAmount=0", scrollamount: "2", width: "100%"}
    %ul
      %li
        %font{color: "#ffffff", size: "+1"}
          %a{href: "www.rbvrrwomenscollege.net/images/docs/ChetnaChemFest.doc", style: "text-decoration:none;"} Chetna-2k-14
        %p
      %li
        %font{color: "#ffffff", size: "+1"}
          %a{href: "http://www.rbvrrwomenscollege.net/index.php?option=com_content&view=article&id=214&Itemid=291", style: "text-decoration:none;"} Hall Tickets
        %p
      %li
        %font{color: "#ffffff", size: "+1"}
          %a{href: "http://www.rbvrrwomenscollege.net/index.php?option=com_content&view=article&id=213&Itemid=290", style: "text-decoration:none;"} Convocation 2013
        %p
      %li
        %font{color: "#ffffff", size: "+1"}
          %a{href: "http://www.rbvrrwomenscollege.net/images/docs/SeminarKEYCONCEPTwithregistration%20Form.pdf", style: "text-decoration:none;"} A TWO DAY NATIONAL SEMINAR-"SAFETY AND PROTECTION FOR MILLENNIUM WOMEN IN INDIA" on 10th and 11th September-2013
        %p
      %li
        %font{color: "#ffffff", size: "+1"}
          %a{href: "http://www.rbvrrwomenscollege.net/images/docs/sayujya_2013.pdf", style: "text-decoration:none;"} A Two Day Management Fest conducted by B.B.M.T students(26th-27th August 2013)
        %p
      %li
        %font{color: "#ffffff", size: "+1"}
          %a{href: "www.rbvrrwomenscollege.net/images/docs/Ad-Proof.jpg", style: "text-decoration:none;"} Notifications for the posts of Assistant Professors/Associate Professor/Computer Programmer
        %p
      %li
        %font{color: "#ffffff", size: "+1"}
          %a{href: "www.rbvrrwomenscollege.net/images/docs/APPLICATIONFORM(Latest).doc", style: "text-decoration:none;"} Admission-Schedule 2013-2014
      %li
        %font{color: "#ffffff", size: "+1"}
          %a{href: "http://www.rbvrrwomenscollege.net/index.php?option=com_content&view=article&id=211&Itemid=285", style: "text-decoration:none;"} Convocation Notification(2009-2012)
      %li
        %font{color: "#ffffff", size: "+1"}
          %a{href: "http://www.rbvrrwomenscollege.net/index.php?option=com_content&view=article&id=210&Itemid=284", style: "text-decoration:none;"} Two Day Seminar "Spectro-Analytical Techniques"
      %li
        %font{color: "#ffffff", size: "+1"}
          %a{href: "http://www.rbvrrwomenscollege.net/index.php?option=com_content&view=article&id=204&Itemid=280", style: "text-decoration:none;"} College Re-accrediated with Grade 'A' by NAAC
      %li
        %font{color: "#ffffff", size: "+1"}
          %a{href: "http://www.rbvrrwomenscollege.net/index.php?option=com_content&view=article&id=201&Itemid=276", style: "text-decoration:none;"} Department Proposals under CPE Second Installment
      %li
        %font{color: "#ffffff", size: "+1"}
          %a{href: "http://www.rbvrrwomenscollege.net/index.php?option=com_content&view=article&id=202&Itemid=277", style: "text-decoration:none;"} CBCS Introduced from the Academic year 2012-2013
      %li
        %font{color: "#ffffff", size: "+1"}
          %a{href: "http://www.rbvrrwomenscollege.net/index.php?option=com_content&view=article&id=198&Itemid=273", style: "text-decoration:none;"} CPE Action Plan 2010-11
      %li
        %font{color: "#ffffff", size: "+1"}
          %a{href: "http://www.rbvrrwomenscollege.net/index.php?option=com_content&view=article&id=85&Itemid=187", style: "text-decoration:none;"} Award of CPE Status by UGC
      %li
        %font{color: "#ffffff", size: "+1"}
          %a{href: "http://www.rbvrrwomenscollege.net/index.php?option=com_content&view=article&id=75&Itemid=194", style: "text-decoration:none;"} Extension of Autonomy Granted
      %li
        %font{color: "#ffffff", size: "+1"}
          %a{href: "http://www.rbvrrwomenscollege.net/index.php?option=com_content&view=article&id=74&Itemid=195", style: "text-decoration:none;"} Report of CPE Action Plan 2010-2011
      %li
        %font{color: "#ffffff", size: "+1"}
          %a{href: "coe1.annauniv.edu/", style: "text-decoration:none;"} Results for Seminar Examinations Oct/Nov 2012 declared
      %li
        %font{color: "#ffffff", size: "+1"}
          %a{href: "http://www.rbvrrwomenscollege.net/index.php?option=com_content&view=article&id=203&Itemid=279", style: "text-decoration:none;"} Upcoming Events in the month of February 2013
       
         
          %p
          %center
            %h3.liketext WELCOME TO RBVRR WOMEN'S COLLEGE
          %p
          %h4 Raja Bahadur Venkata Rama Reddy Women’s College, Narayanguda, Hyderabad was established in 1954 by the Hyderabad Mahila Vidya Sangam,(HMVS), a non-profit education society with a vision to provide education to women especially to those coming from the rural areas. It is the second oldest college for women in Hyderabad city to be conferred with autonomous status by UGC.It is the first women’s college to introduce M.B.A. Programme under Osmania University jurisdiction. It is a partially aided college with a Campus Hostel.
