= form_for @student, :html => { :class => "form-horizontal", :role => "form" } do |f|
  = render "shared/error_messages", :object => f.object
  .col-sm-8
    .form-group
      = f.label "Roll No", :class => 'col-sm-2 control-label'
      .col-sm-8
        = f.text_field :roll_number, :class => 'form-control'
    .form-group
      = f.label "Name", :class => 'col-sm-2 control-label'
      .col-sm-8
        = f.text_field :name, :class => 'form-control'
    .form-group
      = f.label "Date Of Birth", :class => 'col-sm-2 control-label'
      .col-sm-8
        = f.text_field :dob, :class => 'datepicker form-control'
    .form-group
      = f.label "Joining Date", :class => 'col-sm-2 control-label'
      .col-sm-8
        = f.text_field :joining_date, :class => 'datepicker form-control'
    .form-group
      = f.label :father_name, :class => 'col-sm-2 control-label'
      .col-sm-8
        = f.text_field :father_name, :class => 'form-control'
    .form-group
      = f.label :mother_name, :class => 'col-sm-2 control-label'
      .col-sm-8
        = f.text_field :mother_name, :class => 'form-control'
    .form-group
      = f.label :mobile_number, :class => 'col-sm-2 control-label'
      .col-sm-8
        = f.text_field :mobile_number, :class => 'form-control'
    .form-group
      = f.label :parent_email, :class => 'col-sm-2 control-label'
      .col-sm-8
        = f.text_field :parent_email, :class => 'form-control'



  .col-sm-8.pull-right
    - unless @student.id.present?
      = f.submit "Create", :class => 'btn btn-primary'
    - else
      = f.submit "Update", :class => 'btn btn-primary'
