= form_for @result, :html => { :class => "form-horizontal", :role => "form" } do |f|
  = render "shared/error_messages", :object => f.object
  .form-group
    = f.label "Name", :class => 'col-sm-2 control-label'
    .col-sm-5
      = autocomplete_field_tag :search_term,
      '',
      auto_search_autocomplete_student_by_roll_no_and_name_path,
      :placeholder => "Student Roll No/Name", :class => 'form-control',
        :id_element => "#student"
      = f.hidden_field :student_id, :id => "student"
  .form-group
    = f.label "Course", :class => 'col-sm-2 control-label'
    .col-sm-5
      = f.select :course_name, options_for_select(CoursesHelper::courses_belongs_user(current_user)), {}, :class => "form-control", :rel => "result-course"
  .form-group
    = label_tag "Semester", nil, :class => "col-sm-2 control-label"
    .col-sm-5
      = f.select :semester,[], {}, :class => "form-control", :rel => "result-semester", :id => "result-new-semester"
      = f.hidden_field :course_id, :id => "course_id"
  .form-group
    = label_tag "Academic Year", nil, :class => "col-sm-2 control-label"
    .col-sm-5
      = f.select :year,(Date.today.year..Date.today.year), {}, :class => "form-control"
  #result-subjects

  .col-sm-8.pull-right
    = f.submit "Save", :class => 'btn btn-primary'
