= form_tag results_path, :method => 'get' , :class => "form" do
  .form-group
    .col-sm-3
      = label_tag "Course", nil
      = select_tag :course_name, options_for_select(CoursesHelper::courses_belongs_user(current_user), params[:course_name]), :class => "form-control", :rel => "result-course"
    .col-sm-3
      = label_tag "Semester", nil
      = select_tag :semester, options_for_select([], params[:semester]), :class => "form-control", :rel => "result-semester"
    .col-sm-3
      = label_tag "Academic Year", nil
      = select_tag :year,options_for_select((Date.today.year-5..Date.today.year).to_a.map{|s| ["#{s}", s]}, params[:year]), :class => "form-control"
    .col-sm-3
      %br
      = submit_tag "Search", :name => nil, :class => "btn-primary btn"
      - unless current_user.student?
        = link_to "Add Result", new_result_path, :class => "btn-primary btn"
