%table.table.table-bordered
  %thead
    %th Roll No
    %th Name
    %th Parent Email
    %th Mobile Number
    %th Joining Date
  %tbody
    - students.each do |student|
      %tr
        %td= link_to student.roll_number, student
        %td= student.name
        %td= student.parent_email
        %td= student.mobile_number
        %td= student.joining_date
