-# .page-header
-#   %h2
-#     = link_to "Upload Results", "#"
%p
  A Csv or Exel can be uploaded. First row should have the column names
= form_for @results_uploader, :url => upload_results_path, :multipart => true, :html => { :class => "form"} do |f|
  = render "shared/error_messages", :object => f.object
  .panel.panel-info
    .panel-body
      .form-group
        = label_tag "Course", nil, :class => "col-sm-1 control-label"
        .col-sm-2
          = f.select :course_name, options_for_select(CoursesHelper::courses_belongs_user(current_user)), {}, :class => "form-control", :rel => "result-course"
        = label_tag "Semester", nil, :class => "col-sm-1 control-label"
        .col-sm-2
          = f.select :semester,[], {}, :class => "form-control", :rel => "result-semester"
        = label_tag "Academic Year", nil, :class => "col-sm-1 control-label"
        .col-sm-2
          = f.select :academic_year,(Date.today.year..Date.today.year), {}, :class => "form-control"
        .col-sm-2
          = f.file_field :file
        %strong.pull-right
          = link_to "Download Template", "#", :rel => "results-template"
      %br
      %br
        .col-sm-4
          = f.submit "Upload", :class => "btn btn-primary pull-right"
