.page-header
  %h3
    = @result.student.name

.col-md-12
  %table.table.table-bordered
    %thead
      %th Roll Number
      %th Date Of Birth
      %th Course
      %th Semester
    %tbody
      %tr
        %td= @result.student.roll_number
        %td= @result.student.dob
        %td= @result.course.name
        %td= @result.course.semester
.col-md-5
  %table.table.table-bordered
    %thead
      %th Subject
      %th Marks
    %tbody
      - @result.subject_headers.take(5).each_with_index do |val, index|
        %tr
          %td.active= val
          %td= @result.result_row[index]

- if @result.subject_headers.length > 5
  .col-md-5
    %table.table.table-bordered
      %thead
        %th Subject
        %th Marks
      %tbody
        - @result.subject_headers.drop(5).each_with_index do |val, index|
          %tr
            %td.active= val
            %td= @result.result_row[index]
            
.col-md-5
  %table.table.table-bordered
    %tr
      %th.success Total
      %td= @result.total_marks     
