.page-header
  %h3
    = @student.name
    .pull-right
      = link_to "Edit", edit_student_path(@student), :class => "btn btn-success"
      = link_to "Delete", student_path(@student), :class => "btn btn-danger", :data => {:confirm => "Are You Sure?", :method => :delete}
.col-md-12
  %table.table.table-bordered
    %thead
      %th Roll Number
      %th Name
      %th Date Of Birth
      %th Father Name
      %th Mother Name
      %th Parent Mail
      %th Mobile Number
      %th Joining Date
    %tbody
      %tr
        %td= @student.roll_number
        %td= @student.name
        %td= @student.dob
        %td= @student.father_name
        %td= @student.mother_name
        %td= @student.parent_email
        %td= @student.mobile_number
        %td= @student.joining_date
