= form_for Welcome.new do |f|
  .col-sm-4
    .form-group
      = f.label "Heading", :class => 'col-sm-6 control-label'
    .col-sm-8
      = f.text_field :heading, :class => 'form-control'
    .form-group
      = f.label "message", :class => 'col-sm-6 control-label'
    .col-sm-8
      = f.text_area :message, :class => 'form-control'
   
    %br/
    = f.submit

    
