= form_for @calendar, :html => { :class => "form-horizontal", :role => "form"} do |f|
  - if @calendar.errors.any?
    #error_explanation
      %h2
        = pluralize(@calendar.errors.count, "error")
        prohibited this calendar from being saved:
      %ul
        - @calendar.errors.full_messages.each do |msg|
          %li= msg
  .col-sm-8
    .form-group
      = f.label "Course", :class => 'col-sm-2 control-label'
      .col-sm-8
        = f.autocomplete_field :course,
          auto_search_autocomplete_calendar_course_path,
          :placeholder => "Course Name", :class => 'form-control'
    .form-group
      = f.label "semester", :class => 'col-sm-2 control-label'
      .col-sm-8
        = f.text_field :semester, :class => 'form-control'
    .form-group
      = f.label "Event", :class => 'col-sm-2 control-label'
      .col-sm-8
        = f.text_field :event, :class => 'form-control'
    .form-group
      = f.label "From Date", :class => 'col-sm-2 control-label'
      .col-sm-8
        = f.text_field :from, :class => 'datepicker form-control'
    .form-group
      = f.label "To Date", :class => 'col-sm-2 control-label'
      .col-sm-8
        = f.text_field :to, :class => 'datepicker form-control'
    %br/
    = f.submit "Create", :class => 'btn btn-primary'
    = link_to 'Back', calendars_path,:class => 'btn btn-primary'
    - if @calendar.id.present?
      = link_to 'Show', @calendar,:class => 'btn btn-primary'