.container
  .row
    .col-md-3
      %h1 Departments
      %table 
        - Calendar.grouped_calendars.each do |object|
          %tr
            %td
              = link_to object.course, calendars_path(:course => object.course)
    .col-md-9
      
      %h1 Academic events 
      = link_to 'Add Event', new_calendar_path
      %table.table.table-striped.table-bordered.table-condensed.table-hover
        %thead
          %tr
            %th Course
            %th Semester
            %th Event
            %th From
            %th To
            %th
        %tbody
          - @calendars.each do |calendar|
            %tr
              %td= best_in_place calendar, :course 
              %td= best_in_place calendar, :semester
              %td= best_in_place calendar, :event, type: :textarea
              %td= best_in_place calendar, :from
              %td= best_in_place calendar, :to
              %td= link_to 'Delete', calendar, method: :delete,data: { confirm: 'Are you sure?' } 
      %br

