.container
  .row
    .col-md-4
      = form_for Calendar.new  do |f|
        = f.select :course, Calendar.all.map{|c| [c.course, c.id]}
    .col-md-8
      %h1 Academic events
      %table.table.table-striped.table-bordered.table-condensed.table-hover
        %thead
          %tr
            %th Course
            %th Semester
            %th Event
            %th From
            %th To
        %tbody
          - @calendars.each do |calendar|
            %tr
              %td= best_in_place calendar, :course
              %td= best_in_place calendar, :semester
              %td= best_in_place calendar, :event
              %td= best_in_place calendar, :from
              %td= best_in_place calendar, :to
        %br
        %br
        = link_to 'Add Event', new_calendar_path
