= form_for @how_to, :html => { :class => "form-horizontal", :role => "form" } do |f|
  = render "shared/error_messages", :object => f.object
  .col-sm-8
    .form-group
      = f.label "Name", :class => 'col-sm-2 control-label'
      .col-sm-6
        = f.text_field :name, :class => 'form-control'
    .form-group
      = f.label "Description", :class => 'col-sm-2 control-label'
      .col-sm-6
        = f.text_area :description, :class => 'form-control'
    .form-group
      = f.label "Fee", :class => 'col-sm-2 control-label'
      .col-sm-6
        = f.text_field :fee, :class => 'form-control'
  .col-sm-8.pull-right
    = f.submit "Save", :class => 'btn btn-primary'
