= form_for Feedback.new,:url => "#", :html => { :class => "form-horizontal", :role => "form"} do |f|
  = render "shared/error_messages", :object => f.object
  = label_tag "Success Fully Submitted",nil, :id => "feedback_status", :style => "display:none;", :class => "error"
  .form-group
    = f.text_field "name", :placeholder => "Name", :class => "form-control"
    = label_tag "Cant be blank",nil, :id => "name_error", :style => "display:none;", :class => "error"
  .form-group
    = f.text_field "email", :placeholder => "Email", :class => "form-control"
  .form-group
    = f.text_area "description", :placeholder => "Suggestion", :class => "form-control"
    = label_tag "Cant be blank",nil, :id => "name_description", :style => "display:none;", :class => "error"
    %br
    .col-sm-5.col-sm-offset-8
      = button_tag "Submit", :type => "button", :class => 'btn btn-primary btn-sm', :id => "feedback-new"
 
