.col-md-12.col-xs-12
  .form-group
    .col-md-2
      = f.label :subject_1, :class => 'control-label'
    .col-md-4
      = f.text_field :subject_1, :class => 'form-control'
    .col-md-2
      = f.label :subject_2, :class => 'control-label'
    .col-md-4
      = f.text_field :subject_2, :class => 'form-control'
  .form-group
    .col-md-2
      = f.label :subject_3, :class => 'control-label'
    .col-md-4
      = f.text_field :subject_3, :class => 'form-control'
    .col-md-2
      = f.label :subject_4, :class => 'control-label'
    .col-md-4
      = f.text_field :subject_4, :class => 'form-control'
  .form-group
    .col-md-2
      = f.label :subject_5, :class => 'control-label'
    .col-md-4
      = f.text_field :subject_5, :class => 'form-control'
    .col-md-2
      = f.label :subject_6, :class => 'control-label'
    .col-md-4
      = f.text_field :subject_6, :class => 'form-control'
  .form-group
    .col-md-2
      = f.label :subject_7, :class => 'control-label'
    .col-md-4
      = f.text_field :subject_7, :class => 'form-control'
    .col-md-2
      = f.label :subject_8, :class => 'control-label'
    .col-md-4
      = f.text_field :subject_8, :class => 'form-control'
  .form-group
    .col-md-2
      = f.label :subject_9, :class => 'control-label'
    .col-md-4
      = f.text_field :subject_9, :class => 'form-control'
    .col-md-2
      = f.label :subject_10, :class => 'control-label'
    .col-md-4
      = f.text_field :subject_10, :class => 'form-control'
