.container
  .row
    .col-md-2
      #custom-left-panel
        %br
        .list-group
          - Exam.grouped_depts.sort_by { |x| x.dept.downcase }.each_with_index do |object, index|
            - klass = ''
            - if index == 0 and params[:dept].nil?
              - klass = 'active'
            - else
              - klass = object.dept == params[:dept] ? "active" : ''
            = link_to object.dept, exams_path(:dept => object.dept),:class => "list-group-item #{klass}"
    .col-md-9
      %h3.custom-heading Exam Schedule
      - if current_user.present? and current_user.admin?
        .pull-right
          = link_to 'Add Exam Schedule', new_exam_path,:class => 'btn btn-primary'
      - @exams.each do |exam|
        - exam_dept = Exam.where(:dept => exam.dept)
        - @s=exam_dept.map {|e| e.semester}.to_set.sort
      %br
      - if @s.present?
        - @s.each do |sem|
          %h4.custom-heading Semester-#{sem}
          %table.table.table-striped.table-bordered.table-condensed.table-hover
            %theada
              %tr 
                /%th Dept
                - if current_user.present? and current_user.admin?
                  %th semester
                %th Subject
                %th Date
                %th From
                %th To
                - if current_user.present? and current_user.admin?
                  %th
            %tbody
              - @exams.each do |exam|
                - if exam.semester == sem
                  - if current_user.present? and current_user.admin?
                    %tr
                      /%td= best_in_place exam, :dept,html_attrs: { "data-autocomplete" => auto_search_autocomplete_exam_dept_path, :class => "form-control col-sm-3" } 
                      - if current_user.present? and current_user.admin?
                        %td= best_in_place exam, :semester,html_attrs: {:class => "form-control col-sm-3" } 
                      %td= best_in_place exam, :subject, type: :textarea,html_attrs: {:class => "form-control col-sm-3" } 
                      %td= best_in_place exam, :date,html_attrs: {:class => "datepicker form-control" } 
                      %td= best_in_place exam, :from,html_attrs: {:class => "form-control col-sm-3" } 
                      %td= best_in_place exam, :to,html_attrs: {:class => "form-control col-sm-3" } 
                      %td= link_to 'Delete', exam, method: :delete,data: { confirm: 'Are you sure?' }
                  - else
                    %tr
                      /%td= exam.dept
                      - if current_user.present? and current_user.admin?
                        %td= exam.semester
                      %td= exam.subject
                      %td= exam.date
                      %td= exam.from
                      %td= exam.to
