!!!
%html
  %head
    %title RBVRR
  = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", media: "all", "data-turbolinks-track" => true
  = include_gon
  = csrf_meta_tags
  %body
    #body
      = render 'shared/banner'
      = render 'shared/menu'
      .top-margin
        = render "shared/photo_show"
      .container
        #content-container
          -# .top-margin
          -#   = render "shared/photo_show"
          - if navigation_present?
            .col-sm-3
              = render "shared/navigation_left"
            .col-sm-9
              = yield
          - else
            = yield
