!!!
%html
  %head
    %title RBVRR
  = javascript_include_tag "https://www.google.com/jsapi"
  = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", media: "all", "data-turbolinks-track" => true
  = include_gon
  = csrf_meta_tags
  %body
    .row
      = render 'shared/banner'
    = render 'shared/menu'
    - if controller.controller_name == "home"
      .top-margin
        = render "shared/photo_show"
        #content-container
          = yield
    - else
      .top-margin
        .container
          #content-container1
            - if navigation_present?
              .col-sm-3
                = render "shared/navigation_left"
              .col-sm-9
                %section
                  - flash.each do |key, value|
                    = content_tag(:div,value,:class => "#{flash_alert_class(key)}")
                = yield
            - else
              .col-sm-offset-3
                -# - flash.each do |key, value|
                -#   = content_tag(:div,value,:class => "#{flash_alert_class(key)}")
              = yield
    = render "shared/footer"
